@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0;
	margin:0;
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
	font-size: 62.5%;
}
h1, h2, h3, h4{
	font-family: 'Droid Serif', serif;  /* you need a font stack here */
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
}
h1{
	font-size: 6.854rem;
	color: #FFFFFF;
}
h2{
	font-size: 4.236rem;
	color: #CC3300;
}
h3{
	font-size: 2.618rem;
	color: #CC3300;
}
h4{
	
}
p, li, a{
	font-family: 'Droid Sans', sans-serif; /* you need a font stack here */
}
img{
	width:90%;
	max-width: 100%;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
	padding: 0 80px;	
}
a:link, a:visited{
	transition: all 0.3s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
}
.header{
	/*background-color: #000;*/
    min-height: 400px;
	background: #000 url(../img/moon-header.jpg) no-repeat;
	background-position: top right;
	
}
.main{
	padding: 1rem;
	margin: 0.3rem 1.5rem;
}
.footer{
	background-color: #333333;
	padding: 30px;
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
	color: #CC3300;
	
}
.footer a:hover,
.footer a:active,
.footer a:focus{
	color: #BADA55;
	font-size: 1.2rem;
}


/***********************************
		CONTENT
***********************************/
.header h1{
	/*outline: 2px solid #E8BD20;*/
	padding: 2rem;
	width: 50%;
	text-align: right;
	
}
.main h2{
	/*padding: 1rem;
	margin: 0.3rem 2rem;*/
}
.main h3{
	
}
.main p{
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 1rem 0.3rem;
	/* margin: 0rem 2rem;*/
}
.main img{
	/* use border-radius to crop image */
	border-radius: 40%;
	/* choose a width percentage for the image too */
	width: 30%;
	margin-right: 2%;
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}

.footer p{
    padding: 1rem;
	margin: 0.3rem 1.5rem;
	font-size: 0.618rem;
	clear: both;
}
.footer li{
    /* make these 50% the width of the footer */
	width: 50%;
	float: left;
	font-size: 1rem;
	line-height: 2rem;
}
